.container {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div {
    flex-basis: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.p {
    margin: 5px 0;
}

.untap{
    cursor: pointer ;
}
